/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background: #fcc;
  margin: 0;
}

.menu {
  background-color: #808080;
  line-height: 2em;
  color: #000000;
  font-family: sans-serif;
  flex-direction: row;
  justify-content: space-evenly;

}
.open {
  display: flex;
}
/*.menu:hover + nav, nav:hover {
  display: flex;
}*/
h1 {
  font-family: sans-serif;
}
nav {
 display: none;
 flex-direction: column;
 justify-content: space-evenly;
 }
 nav a {
   text-decoration: none;
   font-family: sans-serif;
 }




/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  body {
    background: #cfc;
  }


 nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  }

.menu {
  display: none;
}

}
/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
  }
}
